body{
  width: 100%;
  height: max-content;
  background-color: black;
}
/* nav bar */
nav{
  margin: 23px auto 0;
  position: relative;
  width: 400px;
  height: 20px;
  font-size: 10px;
  display: flex;
  max-width: max-content;
}
nav a{
padding: 4px;
  height: 100%;
  font-size: 15px;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
  cursor: pointer;

} 

nav .animation{
  position: absolute;
  height: 100%;
  top: 4px;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1){
  width: 100px;
  left: 0px;
  
}
a:nth-child(2){
  width:110px ;
  top: 0px;
} 
a:nth-child(3){
width: 100px;
} 
a:nth-child(4){
  width: 160px;
}  
nav .start-home, a:nth-child(1):hover~.animation{
  width: 10px;
  height: 10px;
  top: 4.8px;
  left: 0;
  background-color: #551096;
}
nav .start-home, a:nth-child(2):hover~.animation{
  width: 10px;
  height: 10px;
  left: 100;
  background-color: #953ce9;
}

nav .start-home, a:nth-child(3):hover~.animation{
  width: 10px;
  height: 10px;
  left: 210;
  background-color: #b967f3;
} 

nav .start-home, a:nth-child(4):hover~.animation{
  width: 10px;
  height: 10px;
  left: 310;
  background-color: #e2a2ff;
}  

/* end of nav bar */

.card {
  left: 40%;
  margin-top: 13%;
  --background: linear-gradient(to left, #f095f8 0%, #bc18ee 100%);
  width: 390px;
  height: 354px;
  padding: 5px;
  border-radius: 1rem;
  overflow: visible;
  background: #510ba1;
  background: var(--background);
  position: relative;
  z-index: 1;

 }
 
 .card::after {
  position: absolute;
  content: "";
  top: 35px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 111%;
  transform: scale(0.8);
  filter: blur(25px);
  background: #612bf7;
  background: var(--background);
  transition: opacity .5s;
 }
 
 .card-info {
 
  --color: #181818;
  background: var(--color);
  color: var(--color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-radius: .7rem;
 }

 .card .title {
 
  margin-top: -80px;
  text-align: center;
  font-weight: bold;
  letter-spacing: .1em;
 }



 /*Hover*/
 .card:hover::after {
  opacity: 0;
 }
 
 .card:hover .card-info {
  color: #45f3ff;
  font-family: New Century Schoolbook;
  transition: color 1s;
 }
 
 /* input text */
 .inputbox {
  position: relative;
  width: 236px;
  padding: 10px;
}

.inputbox input {
  
  left: -12px;
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}
.inputbox i {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: #45f3ff;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

/* rainbow button */
.rainbow-hover {
  margin-left: 34%;
  font-size: 16px;
  font-weight: 700;
  color: #ff7576;
  background-color: #2B3044;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 12px 24px;
  position: relative;
  line-height: 24px;
  border-radius: 9px;
  box-shadow: 0px 1px 2px #2B3044,
    0px 4px 16px #2B3044;
  transform-style: preserve-3d;
  transform: scale(var(--s, 1)) perspective(600px)
    rotateX(var(--rx, 0deg)) rotateY(var(--ry, 0deg));
  perspective: 600px;
  transition: transform 0.1s;
}

.sp {
  background: linear-gradient(
      90deg,
      #866ee7,
      #ea60da,
      #ed8f57,
      #fbd41d,
      #2cca91
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
 
  display: block;
}

.rainbow-hover:active {
  transition: 0.3s;
  transform: scale(0.93);
}


/* home content */
.home{
  color: white;
  position: relative;
}
.home .text{
  position: relative;
  display:flex;
  text-align: center;
  text-decoration: none;
}
.text{
   margin-left: 40%;
   margin-top: 240px;
   font-family: Century Gothic;
}